<div class="container">
	<div class="moto"> 
		<p><b>Motivation of the day:</b> <span><i><%= @random_moto %></i></span></p>
	</div>
<% @profiles.each do |profile| %>
		<div class="span4">
			<div>
			<% if profile.photo.blank? %>
				<%= image_tag big_avatar_url(profile.user) %>
			<% else %>

			<% end %>
			</div>

			<div>
				<h3><%= profile.motivation %></h3>
			</div>

			<div>
				<p>
					<%= profile.full_name %>
					<% if profile.birthday.present? %>
						, <%= profile.age %> 
					<% end %>
					<% if profile.location.present? %>
						, <%= profile.location %>
					<% end %>
				</p>	
			</div>

			<div>
				<p><%= profile.skills %> </p>
			</div>

			<div>
				<% profile.educations.each do |education| %>
				<div>
					<b><%= education.school %></b> - <i><%= education.title %> em <%= education.course %></i>
					<% if education.graduation_date.nil? %> 
						(a decorrer)
					<% else %>
						em <%= education.graduation_date %>
					<% end %>
				</div>	
				<% end %>
			</div>
		</div>
<% end %>
</div>